.header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 15px 20px 10px 20px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 32px;
  padding: 10px;
  border: none;
  width: 100%;
  outline: none;
}

.header__searchIcon {
  padding: 5px;
  height: 32px !important;
  width: 34px !important;
  background-color: #cd9042;
  cursor: pointer;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0 15px;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

.header__optionTop {
  font-size: 10px;
}

.header__optionBottom {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: flex-end;
  color: white;
  margin: 0 10px;
}

.header__basketCount {
  margin-left: 5px;
  font-size: 15px;
}
